[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[packages]
ipykernel = "*"
jupyter = "*"
jupyterlab = "*"
jupytext = "*"
jupyter_contrib_nbextensions = "*"
matplotlib = "*"
python-dotenv = "*"
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
email-validator = "*"
pandas = "*"


[scripts]
to_md = "jupytext --to=markdown dashboard.ipynb"
from_md = "jupytext --to=notebook dashboard.md"
install_kernel = "python -m ipykernel install --user --name=dashboard"
notebook = "jupyter notebook dashboard.ipynb"

[requires]
python_version = "3.10"
