[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[packages]
python-dotenv = "*"
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
email-validator = "*"
pandas = "*"


[scripts]

[requires]
python_version = "3.10"
