{% extends "base.html" %}

{% block content %}
    <!-- Make grid -->

    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h3> {{ rating.company }} ({{ rating.id }})</h3>

                    <!-- Overall performance summary begin -->
                    <div class="row">
                        <div class="col-sm">
                            <div class="bg-secondary rounded h-100 p-4">
                                <h6>Overall
                                    <button type="button" class="btn btn-square btn-primary m-2">
                                        {{ rating.overall }}
                                    </button>
                                </h6>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="bg-secondary rounded h-100 p-4">
                                <h6>Pricing
                                    <button type="button" class="btn btn-square btn-primary m-2">
                                        {{ rating.pricing }}
                                    </button>
                                </h6>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="bg-secondary rounded h-100 p-4">
                                <h6>Timing
                                    <button type="button" class="btn btn-square btn-primary m-2">
                                        {{ rating.timing }}
                                    </button>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <!-- Overall performance summary end -->
                    <table class="table table-hover">

                        <tbody>
                        {% for item in summary %}
                        <tr>
                            <td>{{ item.key }}</td>
                            <td>{{ item.value }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Histogram</h6>
                    <canvas id="histogram-chart"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Time Series</h6>
                    <canvas id="timeseries-chart"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Multiple Bar Chart</h6>
                    <canvas id="multiple_bar_chart"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Pie Chart</h6>
                    <canvas id="pie-chart"></canvas>
                </div>
            </div>

            <div class="col-sm-6 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Doughnut</h6>
                    <canvas id="doughnut-chart"></canvas>
                </div>
            </div>
        </div>
    </div>

<!-- call plotting functions -->

    <script type="module">
        import {histogram, doughnut, timeseries} from "../../static/js/plotting.js";
        histogram('histogram-chart',
            {{ rating_histogram.rating | safe }},
            {{ rating_histogram.counts | safe }},
            {{ rating.overall | safe}});
        timeseries('timeseries-chart',
            {{ time_series.t | safe }},
            {{ time_series.y | safe }},
            {{ time_series.y_peers | safe }},
            {{ time_series.y_market | safe }});
        doughnut('doughnut-chart');


    </script>
{% endblock %}