{% extends "base.html" %}

{% block content %}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Histogram</h6>
                    <canvas id="histogram-chart"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Multiple Line Chart</h6>
                    <canvas id="salse-revenue"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Single Bar Chart</h6>
                    <canvas id="bar-chart"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Multiple Bar Chart</h6>
                    <canvas id="worldwide-sales"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Pie Chart</h6>
                    <canvas id="pie-chart"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Doughnut Chart</h6>
                    <canvas id="doughnut-chart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var ctx = document.getElementById("histogram-chart").getContext("2d");
        var myChart4 = new Chart(ctx, {
            type: "bar",
            options: {
                legend: {
                    display: false
                },
                responsive: true,
            },
            data: {
                labels: {{ rating.rating | safe }},
                datasets: [{
                    backgroundColor: "rgba(235, 22, 22, .6)",
                    borderColor: "rgba(235, 22, 22, .6)",
                    data: {{ rating.counts | safe }}
                }]
            }

        });
    </script>
{% endblock %}