{% extends "base.html" %}

{% block content %}
    <!-- Make grid -->

    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Histogram</h6>
                    <canvas id="histogram-chart"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Doughnut</h6>
                    <canvas id="doughnut-chart"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Single Bar Chart</h6>
                    <canvas id="bar-chart"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Multiple Bar Chart</h6>
                    <canvas id="multiple_bar_chart"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Pie Chart</h6>
                    <canvas id="pie-chart"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Doughnut Chart</h6>
                    <canvas id="doughnut-chart"></canvas>
                </div>
            </div>
        </div>
    </div>

<!-- call plotting functions -->

    <script type="module">
        import {histogram, doughnut} from "../../static/js/plotting.js";
        const x = {{ rating.rating | safe }};
        const y = {{ rating.counts | safe }};
        histogram('histogram-chart', x, y);
        doughnut('doughnut-chart')

    </script>
{% endblock %}